<!-- remove this welcome text before publishing -->
<p>Welcome to the Flex Force ABOUT Page!</p>
<br>

<div class="container">
<!-- Section 1 - Page summary text and image - REPLACE PLACEHOLDER TEXT -->
  <div>
      <h1>What is Flex Force?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur neque dolor, pellentesque et elit sed, aliquam malesuada tortor. Sed nibh urna, pharetra quis ultrices eu.</p>
  </div>

<!-- Section 2 - In equal columns -->
  <div class="row">
<!-- Section 2 - Approach text and image -->    
    <div class="col-md-4">
      <img src="assets/images/477011015_800x533.jpg" class="img-fluid" alt="Our Approach"/>
      <h2>Our Approach</h2>
      <p>Today’s Flex Force thrives on being your first choice – your &ldquo;go to&rdquo; source for the best skills, talent, and solutions in AT&amp;T. But what does it mean to be your first choice?</p>
      <p>Flex Force is committed to Adding Value and Making an Impact</p>
      <ul>
        <li>Understanding your business and technology needs</li>
        <li>Adding real value by supplying relevant skills via DevSecOps Teams, Individuals, Proof Of Concept Solutions, and more</li>
        <li>Recruiting and Staffing to fill critical skill needs</li>
        <li>Partnering in the expansion of future technology skills and methodologies</li>
        <li>Being highly responsive and proactive</li>
      </ul>
    </div>
<!-- Section 2 - People text and image -->    
    <div class="col-md-4">
      <img src="assets/images/108365115_800x533.jpg" class="img-fluid" alt="Our People"/>
      <h2>Our People</h2>
      <p>Our People are our thing.  We call our People, our Talent. We are constantly propelling them to learn relevant technology skills, practice the leading methods, and be versatile in filling roles depending on your needs.</p>
      <p>We offer the latest training to our resources including SAFe Agile, Security, Test Automation, AgileCraft and Public Cloud Onboarding.  We also have Mastery Guilds with Certifications for JavaScript and MongoDb. Plus, if you tell us you need a new skill, we will build new competencies.</p>
      <p>We are a talent development engine growing our numbers of competent talent to be placed on your assignments, or even moved to your organization. We help facilitate nano degree and technical skill pivots by providing opportunity to join Flex Force and gain real experience in critical skills areas. We recruit the best and brightest from Tech Dev, ATO and even outside AT&amp;T.</p>
      <p>We take our Culture seriously.  We are a team of fresh thinkers and inquisitive minds who are determined to be successful and enjoy the journey.  Diversity and inclusion are integral to us.  Fun team and cross center challenges like Hackathons and Olympic Games are part of our DNA.  Our enthusiasm is contagious to our clients.</p>
    </div>
<!-- Section 2 - Impact text and image -->    
    <div class="col-md-4">
      <img src="assets/images/468400987_800x533.jpg" class="img-fluid" alt="Our Impact"/>
      <h2>Our Impact</h2>
      <p>Whether it’s a single resource serving as a SCRUM Master or a SAFE Agile &ldquo;Full Up&rdquo; SCRUM team, we make a difference. We believe it’s because we are AT&amp;T just like our clients.  We want to be the best and deliver the best because we ARE AT&amp;T.</p>
      <p>We are just as committed to our company’s vision and mission as you are. We are just as vested as you are.</p>
      <p>These makes a huge difference. Technical resource suppliers come and go.  There’s no vested interest in YOUR success.  It’s about the billing.  Flex Force resources are aligned with you and our company.</p>
      <p>We also bring the insights and forward-thinking technical leadership of our Israeli teams as part and parcel of our solutions and chunks of work engagements.  Our collective knowledge and expertise are shared across our team and yours.</p>
      <p>All of these advantages come together with each of our assignments and engagements.  All make the maximum positive impact on your success.</p>
    </div>
  </div>


<!-- Section 2 - Success text and image - REPLACE PLACEHOLDER TEXT -->
  <div>
    <h2>Our Successes</h2>
    <p>Praesent a arcu magna. Praesent suscipit, metus sit amet pulvinar porttitor, lacus tellus ornare mi, id volutpat mi nisl eu odio. Sed nunc velit, rutrum id lorem at, faucibus lacinia quam. Sed venenatis magna est, et vehicula dui tempor in.</p>
  </div>

<!-- Section 3 - Leadership summary text and image - REPLACE PLACEHOLDER TEXT -->
  <div>
    <h2>Leadership</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget ligula lectus. Maecenas justo nunc, aliquet quis maximus et, eleifend aliquet est. Aenean maximus mattis lectus ac mattis. Nulla vulputate.</p>
  </div>
  
<!-- Section 3 - Leadership Nameplate images -->
  <div>
    <img src="assets/images/ldr_mitchell.png" alt="Monica Mitchell"/>
  </div>
  <div>
    <img src="assets/images/ldr_calhoun.png" alt="Derek Calhoun"/>
    <img src="assets/images/ldr_hadley.png" alt="Robert Hadley"/>
    <img src="assets/images/ldr_hayes.png" alt="Bill Hayes"/>
    <img src="assets/images/ldr_obrien.png" alt="Dustin O'Brien"/>
    <img src="assets/images/ldr_golinveaux.png" alt="Carolyn Golinveaux"/>
  </div>

<!-- Section 4 - Call to Action text and image -->
  <div>
    <p>Want to contact us?  Click <a routerLink="/contact">here</a> to reach your local Flex Force manager.</p>
  </div> 

<!-- Section 5 - Friendly Links text and image -->
  <div>
    <h2>Friendly Links</h2>
    <p>Link #1 - Flex Force tSpace</p>
    <p>Link #2 - TOM(?)</p>
    <p>Link #3 - ???</p>
  </div> 
</div>