<!-- remove this welcome text before publishing -->
<p>Welcome to the Flex Force RECRUITING Page!</p>
<br>

<!-- Section 1 - Page summary text and image -->
<div>
    <h1>Flex Force Recruiting</h1>
    <p>We recruit all the time.  We’ve got the experience, knowledge and relationships to find the right candidate with the right skills for your job.</p>
</div>

<!-- Section 2 - Recruiting Path text and image -->
<div>
    <h2>Recruiting Paths</h2>
    <p>When you’re looking for employee talent for your team, look to Flex Force to help you.  We offer several viable paths to get your vacancy and need filled as quickly as possible.</p>
    <ul>
        <li>Immediate Transition of Flex Force Talent. Transition existing Flex Force talent with required skills.  Flex Force absorbs the vacancy.</li>
        <li>Employee Swaps.  Flex Force negotiates cascading skill-matched employee swaps between the tower and Flex force and absorbs the vacancy.</li>
        <li>Train and Transition Flex Force Talent.  Equip existing Flex Force talent with the required skills and transition to requesting tower.  Flex Force absorbs the vacancy.</li>
        <li>External Market Hires.  Flex Force recruits, hires, onboards and trains the new employee specifically for the new tower.  We’re targeting graduate level students as new hires.</li>
    </ul>
    <p>We ensure the right hires and streamline the process for you.</p>
    <p>We’re expanding our partnership with AT&T College Recruiting, fostering relationships with the Military to recruit their retiree, and growing hiring through additional H1B sponsorships.</p>
    <p>We’re also establishing an AT&T Alumni program for our AT&T employees to go back and visit their universities for recruiting events.</p>
    <p>All of these tracks are about helping you get the right employee as soon as possible.</p>
</div>

<!-- Section 2 - Recruiting images -->
<div>
    <h2>Recruiting Images</h2>
</div>

<!-- Section 3 - Call to Action text and image -->
<div>
    <p>Want to contact us?  Click <a routerLink="/contact">here</a> to reach your local Flex Force manager.</p>
</div>   
    