<div class="container-fluid">

<!-- Section 1 - Page summary text and image -->
    <div>
        <h1>Contacting Flex Force</h1>
        <h3>Let's talk more about the ways Flex Force can help!  Click on your local Flex Force Lead to start the conversation.</h3>
    </div>

<!-- Section 2 - Contact Nameplate images -->
    <div class="contacts">
        <a href="mailto://dn7494@att.com?subject=Flex Force Information Request"><img src="assets/images/np_atlanta.png" class="nameplate img-fluid" alt="Email to Deb Nunes"/></a>
        <a href="mailto://pg2915@att.com?subject=Flex Force Information Request"><img src="assets/images/np_chicago.png" class="nameplate img-fluid" alt="Email to Pete Guerrero"/></a>
        <a href="mailto://nd719a@att.com?subject=Flex Force Information Request"><img src="assets/images/np_dallas.png" class="nameplate img-fluid" alt="Email to Natalie DeBusk"/></a>
        <a href="mailto://kk433m@att.com?subject=Flex Force Information Request"><img src="assets/images/np_losangeles.png" class="nameplate img-fluid" alt="Email to Karen Keahey"/></a>
        <a href="mailto://rs1251@att.com?subject=Flex Force Information Request"><img src="assets/images/np_newjersey.png" class="nameplate img-fluid" alt="Email to Ron Sedlak"/></a>
        <a href="mailto://db6958@att.com?subject=Flex Force Information Request"><img src="assets/images/np_sanramon.png" class="nameplate img-fluid" alt="Email to Dan Burrus"/></a>
        <a href="mailto://sf2698@att.com?subject=Flex Force Information Request"><img src="assets/images/np_seattle.png" class="nameplate img-fluid" alt="Email to Scott Fulton"/></a>
        <a href="mailto://gw1192@att.com?subject=Flex Force Information Request"><img src="assets/images/np_stlouis.png" class="nameplate img-fluid" alt="Email to Greg Weber"/></a>
    </div>
    
<!-- Section 3 - Map image -->
    <img src="assets/images/map.png" class="mx-auto d-block img-fluid" alt="US Collaboration Zone Map">     
</div>