<!-- remove this welcome text before publishing -->
<p>Welcome to the Flex Force CONTACT Page!</p>
<br>

<!-- Section 1 - Page summary text and image - REPLACE PLACEHOLDER TEXT -->
<div>
    <h1>Contacting Flex Force</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat pharetra metus, vel vestibulum ex gravida eu. Curabitur congue condimentum nulla vitae pellentesque. Nunc commodo urna et gravida gravida. Quisque at volutpat diam. Nam dapibus quam ex, vel elementum mauris.</p>
</div>
  
<!-- Section 2 - Contact Nameplate images - NEED TO MAKE THE Q LINKS WORK!! -->
<div>
    <a routerLink="qto://talk/dn7494"><img src="assets/images/np_atlanta.png" alt="Q to Deb Nunes"/></a>
    <a routerLink="qto://talk/pg2915"><img src="assets/images/np_chicago.png" alt="Q to Pete Guerrero"/></a>
    <a routerLink="qto://talk/nd719a"><img src="assets/images/np_dallas.png" alt="Q to Natalie Debusk"/></a>
    <a routerLink="qto://talk/jk9142"><img src="assets/images/np_losangeles.png" alt="Q to Jake Korns"/></a>
    <a routerLink="qto://talk/rs1251"><img src="assets/images/np_newjersey.png" alt="Q to Ron Sedlak"/></a>
    <a routerLink="qto://talk/db6958"><img src="assets/images/np_sanramon.png" alt="Q to Dan Burrus"/></a>
    <a routerLink="qto://talk/sf2698"><img src="assets/images/np_seattle.png" alt="Q to Scott Fulton"/></a>
    <a routerLink="qto://talk/gw1192"><img src="assets/images/np_stlouis.png" alt="Q to Greg Weber"/></a>
</div>

<!-- Section 3 - Map image -->
<div>
    <img src="assets/images/map.png" alt="US Collaboration Zone Map"/>
</div>