<!-- Section 1 - Page summary text and image -->
<div>
    <h1>Contacting Flex Force</h1>
    <h2>Let's talk more about the ways Flex Force can help!  Click on your local Flex Force Lead to start the conversation.</h2>
</div>
  
<!-- Section 2 - Contact Nameplate images -->
<div>
    <a href="mailto://dn7494@att.com?subject=Flex Force Information Request"><img src="assets/images/np_atlanta.png" class="nameplate" alt="Email to Deb Nunes"/></a>
    <a href="mailto://pg2915@att.com?subject=Flex Force Information Request"><img src="assets/images/np_chicago.png" class="nameplate" alt="Email to Pete Guerrero"/></a>
    <a href="mailto://nd719a@att.com?subject=Flex Force Information Request"><img src="assets/images/np_dallas.png" class="nameplate" alt="Email to Natalie DeBusk"/></a>
    <a href="mailto://kk433m@att.com?subject=Flex Force Information Request"><img src="assets/images/np_losangeles.png" class="nameplate" alt="Email to Karen Keahey"/></a>
    <a href="mailto://rs1251@att.com?subject=Flex Force Information Request"><img src="assets/images/np_newjersey.png" class="nameplate" alt="Email to Ron Sedlak"/></a>
    <a href="mailto://db6958@att.com?subject=Flex Force Information Request"><img src="assets/images/np_sanramon.png" class="nameplate" alt="Email to Dan Burrus"/></a>
    <a href="mailto://sf2698@att.com?subject=Flex Force Information Request"><img src="assets/images/np_seattle.png" class="nameplate" alt="Email to Scott Fulton"/></a>
    <a href="mailto://gw1192@att.com?subject=Flex Force Information Request"><img src="assets/images/np_stlouis.png" class="nameplate" alt="Email to Greg Weber"/></a>
</div>

<!-- Section 3 - Map image -->
<div class="container-fluid">
    <img src="assets/images/map.png" class="img-fluid" alt="US Collaboration Zone Map"/>
</div>