<div class="container-fluid">
<!-- Section 1 - Page summary text and image -->
    <div>
        <h1>Flex Force Talent</h1>
        <p>Whether you just need a helping hand or an entire Scrum Team, we’ve got you covered. Flex Force has the talent and expertise to support your projects quickly and efficiently through a variety of flexible staffing options.</p>
    </div>

<!-- Section 2 - In horizontal rows/cards -->
    <!-- Section 2.1 - Full SCRUM Teams text and image -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                    <img src="assets/images/502862551_800x534.jpg" class="card-img" alt="Full SCRUM Teams">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Full SCRUM Teams</h2>
                    <p class="card-text">Flex Force has formed Agile and SAFe Agile SCRUM teams that can be deployed into your inflight development work as extensions of your own development organization.  They have training and experience in the latest development tools, DSO and methodologies and they know the AT&T environment so their ramp up time will be minimal.   Assignments can run 12-36 months.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 2.2 - Staff Augmentation text and image -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                    <img src="assets/images/175138996_800x533.jpg" class="card-img img-fluid" alt="Staff Augmentation">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Staff Augmentation</h2>
                    <p class="card-text">With the wide breadth of talent Flex Force resources have across the country, we can provide SCRUM Masters, traditional Project Managers, Business analysts and traditional developers.  We also offer resources for SAFe Agile team roles such as Product Owner Delegates and Release Train Engineers.  Assignments can run from 6 months to 12-24 months depending on need.</p>
                    
                </div>
            </div>
        </div>
    </div>    
    <!-- Section 2.3 - Specialized Teams text and image -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                    <img src="assets/images/533977503_800x533.jpg" class="card-img img-fluid" alt="Specialized Teams">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Specialized Teams</h2>
                    <p class="card-text">Occasionally, we all are challenged to pull a team together to get an application upgrade done or initiative like CDP onboarding underway that are over and above our inflight commitments.  Flex Force can pull the resources together to help you deliver on those commitments.  We can provide small and large teams of single type resources like x number of Java developers or multiple fully staffed SCRUM teams to get you over the hurdle. These assignments are typically less than a year.</p>                    
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Section 4 - Call to Action text and image -->
<div>
    <blockquote class="blockquote">
        <p class="mb-0">Want to contact us? Click <a routerLink="/contact">here</a> to reach your local Flex Force Lead.</p>
    </blockquote>
</div> 
  