<!-- add a header to apply to all pages -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand float-left text-dark"><img class="img-fluid"
      src="assets/images/att_globe_wht_32x33.png" alt="ATT Logo"/>&emsp; Welcome, [name]</span>
    <div class="nav navbar-nav flex-row float-right my-2 my-lg-0">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&emsp; I want to &hellip; &emsp;<span class="navbar-toggler-icon"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/contact">Contact Flex Force Lead</a>
          <a class="dropdown-item" routerLink="/about">Learn About Flex Force</a>
          <a class="dropdown-item" routerLink="/talent">Find Talent</a>
          <a class="dropdown-item" routerLink="/solutions">Get a Solution</a>
          <a class="dropdown-item" routerLink="/recruiting">Get Help Recruiting</a>
          <a class="dropdown-item" routerLink="/chunkofwork">Get a Chunk of Work Done</a>
          <!-- <a class="dropdown-item" routerLink="/bragboard">Brag Board Page</a> -->          
        </div>
      </div>
    </div>
  </div>
</nav>

<header>
  <!-- Logo -->
  <div class="container-fluid">
    <a routerLink="/home"><img class="img-fluid"
        src="assets/images/logo_tagline.png" alt="Flex Force Logo" /></a>
  </div>
</header>

<div class="container-fluid">
  <!-- content -->
  <router-outlet></router-outlet>
</div>

<!-- add a footer to apply to all pages -->
<footer>
  <p>AT&amp;T Proprietary (Internal Use Only)</p>
  <p>Not for use or disclosure outside the AT&amp;T companies except under written agreement.</p>
</footer>

<!-- This website was last updated 07/02/2019 -->
<!-- Author:  Kory L. Ainsworth (ka8524) -->