<!-- Section 1 - Page summary text and image -->
<div>
    <h1>Flex Force Solutions and Proofs of Concepts</h1>
    <p>You’ve got business problems, we’ve got answers! Flex Force Innovation Squads deliver innovative answers to complex problems. From Proof of Concepts to Business Case Development, our teams have the creative  answers for your ideas.</p>
</div>

<!-- Section 2 - Example PoC text and image -->
<div>
    <h2>DTV Proof of Concept</h2>
    <p>Just recently, one of the Flex Force Innovation Squads worked with DTV on a Proof of Concept (PoC) for a scoring tool.  The Work Flow Engine Coaching and Scoring Tool DTV POC delivered data insights to managers, increasing care agent conformance with the Work Flow Engine (WFE). The targeted coaching that the trial enabled resulted in a 4% decrease in dispatches, 1% reduction in repeat calls, and lowered average call handle times by over 1 minute. The application, if implemented, is estimated to realize $30M in savings in its first full year.</p>
</div>

<!-- Section 2 - Additional text and image -->
<div>
    <h2>Need a Heading</h2>
    <p>Now think about what Flex Force might be able to help you envision and accomplish.  </p>
</div>

<!-- Section 2 - PoC images -->
<div>
    <h2>Solutions and Proofs of Concept Images</h2>
</div>

<!-- Section 3 - Call to Action text and image -->
<div>
    <blockquote class="blockquote">
        <p class="mb-0">Want to contact us? Click <a routerLink="/contact">here</a> to reach your local Flex Force Lead.</p>
    </blockquote>
</div> 
      