<div class="container-fluid">
<!-- Section 1 - Page summary text and image -->
    <div>
        <h1>Flex Force Solutions and Proofs of Concepts</h1>
        <p>You’ve got business problems, we’ve got answers! Flex Force Innovation Squads deliver innovative answers to complex problems. From Proof of Concepts to Business Case Development, our teams have the creative  answers for your ideas.</p>
    </div>

<!-- Section 2 - In horizontal rows/cards -->
    <!-- Section 2.1 - Proof of Concept text and image -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">DTV Work Flow Engine (WFE)</h2>
                    <p class="card-text">Just recently, one of the Flex Force Innovation Squads worked with DTV on a Proof of Concept (PoC) for a scoring tool. The Work Flow Engine Coaching and Scoring Tool DTV PoC delivered data insights to managers, increasing care agent conformance with the Work Flow Engine (WFE). The targeted coaching that the trial enabled resulted in:
                        <ul>
                            <li>4% decrease in dispatches,</li>
                            <li>1% reduction in repeat calls,</li>
                            <li>and lowered average call handle times by over 1 minute.</li>
                        </ul>
                        <p>The application, if implemented, is estimated to realize $30M in savings in its first full year.</p>
                </div>
            </div>
            <div class="col-md-6">
                    <img src="assets/images/154319842_800x533.jpg" class="card-img" alt="Proof of Concept">
            </div>
            
        </div>
    </div>

<!-- Section 2 - Additional text (no image) -->
    <div>
        <p>Now think about what Flex Force might be able to help you envision and accomplish.  </p>
    </div>

<!-- Section 3 - Call to Action text and image -->
    <div>
        <blockquote class="blockquote">
            <p class="mb-0">Want to contact us? Click <a routerLink="/contact">here</a> to reach your local Flex Force Lead.</p>
        </blockquote>
    </div> 
</div>
      