<!-- remove this welcome text before publishing -->
<p>Welcome to the Flex Force HOME Page!</p>
<br/>

<!-- add image bar with hyperlink -->
<div>
    <a routerLink="/about"><img src="assets/images/image_bar.png" class="img-fluid" alt="Go to About"/></a>
</div>

<!-- add hex icons with hyperlinks -->
<div>
    <a routerLink="/talent"><img src="assets/images/hex_talent.png" alt="Go to Talent"/></a>
<div>
    <a routerLink="/solutions"><img src="assets/images/hex_solution.png" alt="Go to Solutions"/></a>
</div>
<div>
    <a routerLink="/recruiting"><img src="assets/images/hex_recruiting.png" alt="Go to Recruiting"/></a>
</div>
<div>
    <a routerLink="/chunkofwork"><img src="assets/images/hex_cofw.png" alt="Go to Chunk of Work"/></a>
</div>

<!-- Need to add the pop-up that will appear when a user clicks/hovers over each of the elements.  This should replace the routerLink attribute on each element. -->

<!-- This is the text for the pop-ups -->

<!-- Talent -->
<h3>Talent</h3>
<p>Need help delivering your technology or business solution?</p>
<p>Flex Force offers single assignments to a full up SAFe SCRUM team.</p>
<a routerLink="/talent">Learn more &#8811;</a>

<!-- Solutions -->
<h3>Solutions</h3>
<p>Ready to just get innovating?</p> 
<p>Flex Force can bring your vision to life!  Our Innovation Squads conceptualize your vision.</p>
<a routerLink="/solutions">Learn more &#8811;</a>

<!-- Recruiting -->
<h3>Recruiting</h3>
<p>Trying to find the best people for your team?</p>
<p>We recruit all the time.  Let us do it for you.</p>
<a routerLink="/recruiting">Learn more &#8811;</a>

<!-- Chunk of Work -->
<h3>Chunk of Work</h3>
<p>Got a highly visible project that needs to get done fast?</p>
<p>Flex Force can get that “Chunk of Work” done!</p>
<a routerLink="/chunkofwork">Learn more &#8811;</a>