<div class="container-fluid">
<!-- Section 1 - Page summary text and image -->
    <div>
        <h1>Chunk of Work</h1>
        <p>You retain ownership and vision, we can handle the rest! Our teams of highly skilled engineers and business managers are capable of managing and delivering entire work efforts, from design to full deployment, on your behalf.</p>
    </div>
<!-- Section 2 - Concept text (no image) -->
    <div>
        <p>The concept of Chunk of Work originated with the Flex Force Israeli team and has been incorporated into the US based Flex Force team.  We work with our clients to design, development and deliver a standalone application, tool, or functionality.  </p> 
    </div>

<!-- Section 2 - In horizontal rows/cards -->
    <!-- Section 2.1 - CoW Example text and image -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/images/483636043_800x533.jpg" class="card-img" alt="Proof of Concept">
            </div> 
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">UDAS Chunk of Work</h2>
                    <p class="card-text">A good example of what we can do is with our end-to-end support of UDAS, a mission critical application that is part of the merger integration of UVerse & DTV onto a common platform and billing system.
                        <ul>
                            <li>Transitioned out 90+ contractors that had owned 100% of the support (in 4 months - annual savings of $7M)</li>
                            <li>Formed 6 Scrum Teams of about 50 employees (2 teams in the US & 4 teams in Tel Aviv) that partner to coordinate 24x7 application maintenance</li>
                            <li>Ownership of the delivery of new DTV features and the conversion of 13 million customers from DTV billing to the unified billing platform (RC1)</li>
                            <li>Delivery every 4 weeks, including features that will save $36M annually (Complimentary Channel support)</li>
                            <li>Improved speed to market by migrating to ECO, CDP and MicroServices</li>
                            
                        </ul>
                        <p>We have the skills and people to do it all</p>
                </div>
            </div>                       
        </div>
    </div>

<!-- Section 2 - Concept text (no image) -->
    <div>
        <p>Each Chunk of Work is unique to our clients but we also bring our tool kit of re-usable components that help speed the effort.</p>
        <p>Let’s talk about what you want to accomplish.</p>
    </div>

<!-- Section 3 - Call to Action text and image -->
    <div>
        <blockquote class="blockquote">
            <p class="mb-0">Want to contact us? Click <a routerLink="/contact">here</a> to reach your local Flex Force Lead.</p>
        </blockquote>
    </div> 
</div>      